In [24]:
names = ["Alice", "Bob", "Charlie", "David", "Ross", "Joey"]
ages = [30, 25, 35, 40, 60, 75]

combined = list(zip(names,ages))

In [25]:
for name, age in combined:
    print(f"{name} is {age} years old")

Alice is 30 years old
Bob is 25 years old
Charlie is 35 years old
David is 40 years old
Ross is 60 years old
Joey is 75 years old

In [26]:
names = ["Alice", "Bob", "Monica", "Phoebe", "Ross", "Joey"]
ages = [30, 25, 35, 40, 60, 75]
gender = ['M', 'M', 'F', 'F', 'M', 'M']

new_combined = list(zip(names,ages, gender))

In [27]:
for name, age, gender in new_combined:
    print(f"{name}: {age} : {gender}")

Alice: 30 : M
Bob: 25 : M
Monica: 35 : F
Phoebe: 40 : F
Ross: 60 : M
Joey: 75 : M

In [28]:
"M"]

combined = list(zip(names,ages))

SyntaxError: unmatched ']' (4155480843.py, line 1)