In [5]:
s1={1,2,5,6}
s2={3,6,7}

In [6]:
s3 = s1.union(s2)
print(s3)
print(s1)
print(s2)

{1, 2, 3, 5, 6, 7}
{1, 2, 5, 6}
{3, 6, 7}

In [7]:
s1.update(s2)
print(s1,s2)

{1, 2, 3, 5, 6, 7} {3, 6, 7}

In [11]:
cities1={"Tokyo","Madrid","Berlin","Delhi"}
cities2={"Tokyo","Seoul","Kabul","Madrid"}
cities3=cities1.union(cities2)
print(cities3)
print(cities1)
print(cities2)

{'Seoul', 'Madrid', 'Tokyo', 'Berlin', 'Delhi', 'Kabul'}
{'Delhi', 'Madrid', 'Tokyo', 'Berlin'}
{'Kabul', 'Seoul', 'Madrid', 'Tokyo'}

In [12]:
cities1={"Tokyo","Madrid","Berlin","Delhi"}
cities2={"Tokyo","Seoul","Kabul","Madrid"}
cities3=cities1.intersection(cities2)
print(cities3)
print(cities1)
print(cities2)

{'Madrid', 'Tokyo'}
{'Delhi', 'Madrid', 'Tokyo', 'Berlin'}
{'Kabul', 'Seoul', 'Madrid', 'Tokyo'}

In [13]:
cities1={"Tokyo","Madrid","Berlin","Delhi"}
cities2={"Tokyo","Seoul","Kabul","Madrid"}
cities1.intersection_update(cities2)
print(cities1)
print(cities2)

{'Madrid', 'Tokyo'}
{'Kabul', 'Seoul', 'Madrid', 'Tokyo'}

In [14]:
cities1={"Tokyo","Madrid","Berlin","Delhi"}
cities2={"Tokyo","Seoul","Kabul","Madrid"}
cities3=cities1.symmetric_difference(cities2)
print(cities3)
print(cities1)
print(cities2)

{'Delhi', 'Berlin', 'Kabul', 'Seoul'}
{'Delhi', 'Madrid', 'Tokyo', 'Berlin'}
{'Kabul', 'Seoul', 'Madrid', 'Tokyo'}

In [15]:
cities1={"Tokyo","Madrid","Berlin","Delhi"}
cities2={"Tokyo","Seoul","Kabul","Madrid"}
# present in cities1 but in cities2 
cities3=cities1.difference(cities2)
print(cities3)
print(cities1)
print(cities2)

{'Delhi', 'Berlin'}
{'Delhi', 'Madrid', 'Tokyo', 'Berlin'}
{'Kabul', 'Seoul', 'Madrid', 'Tokyo'}

In [16]:
cities1={"Tokyo","Madrid","Berlin","Delhi"}
cities2={"Tokyo","Seoul","Kabul","Madrid"}
print(cities1.isdisjoint(cities2))

False

In [17]:
cities1={"Tokyo","Madrid","Berlin","Delhi"}
cities2={"Seoul","Kabul"}
print(cities1.isdisjoint(cities2))

True

In [19]:
cities1={"Tokyo","Madrid","Berlin","Delhi","Seoul","Kabul"}
cities2={"Seoul","Kabul"}
print(cities1.issuperset(cities2))
cities3={"Afghanistan","Pakistan"}
print(cities1.issuperset(cities3))

True
False

In [ ]:
cities={"Tokyo","Madrid","Berlin","Delhi","Seoul","Kabul"}
cities.add("China")
print(cities)
# will throw an error
cities.remove("China")
print(cities)
# will not throw an error even if not present
cities.discard("China")
print(cities)

{'Berlin', 'Kabul', 'Delhi', 'Seoul', 'Madrid', 'Tokyo'}
{'Berlin', 'Kabul', 'Delhi', 'Seoul', 'Madrid', 'Tokyo'}
{'Berlin', 'Kabul', 'Delhi', 'Seoul', 'Madrid', 'Tokyo'}

In [25]:
cities={"Tokyo","Madrid","Berlin","Delhi","Seoul","Kabul"}
item = cities.pop()
print(cities)
print(item)

{'Kabul', 'Berlin', 'Delhi', 'Seoul', 'Madrid'}
Tokyo

In [27]:
cities={"Tokyo","Madrid","Berlin","Delhi","Seoul","Kabul"}
del cities

In [28]:
cities={"Tokyo","Madrid","Berlin","Delhi","Seoul","Kabul"}
if "Madrid" in cities:
    print("Value is in set")
else:
    print("Value is not in set")

Value is in set